.library {
	position: fixed;
	top: 0;
	left: 0;
	width: 20rem;
	height: 100%;
	box-shadow: 2px 2px 7px gray;
	overflow: scroll;
	transform: translateX(-100%);
	transition: all 0.5s ease;
	opacity: 0;
	h2 {
		padding: 2rem;
	}
}

.library-song {
	display: flex;
	align-items: center;
	padding: 1rem 1rem;
	cursor: pointer;
	transition: 0.5s;
	img {
		width: 30%;
	}
	&:hover {
		background-color: rgb(180, 240, 240);
		transition: 0.5s;
	}
}

.song-desc {
	padding-left: 1rem;

	h3 {
		font-size: 1.4rem;
		font-weight: 400;
	}
	h4 {
		font-size: 1.1rem;
		font-weight: 400;
	}
}

//work on fireFox
* {
	scrollbar-width: thin;
	scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

//work on other browser
*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background-color: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.5);
	border-radius: 20px;
	border: transparent;
}

.selected {
	background-color: violet;
}

.active-library {
	transform: translateX(0%);
	opacity: 1;
	background-color: #fff;
}

@media screen and (max-width: 768px) {
	.library {
		width: 100%;
	}
}
