nav {
	min-height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;

	button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		border: 1px solid rgb(65, 65, 65);
		padding: 0.5rem;
		transition: all 0.3s ease;
		display: flex;
		flex-direction: row;
		align-items: center;
		&:hover {
			background-color: rgb(65, 65, 65) !important;
			color: white !important;
		}
	}
}

.forIcon {
	width: 15px;
	height: 15px;
	margin: 0 3px;
}

// .font {
// 	&:hover {
// 		color: #fff;
// 	}
// }

@media screen and (max-width: 768px) {
	// nav {
	// 	button {
	// 		z-index: 10;
	// 	}
	// }
}
