.player {
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.time-control {
	display: flex;
	align-items: center;
	width: 50%;
	input {
		width: 100%;
		// padding: 1rem 0rem;
		-webkit-appearance: none;
		background-color: transparent;
		cursor: pointer;
	}
	p {
		padding: 1rem;
	}
}

.paly-control {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	width: 50%;
	svg {
		cursor: pointer;
	}
}
.palyIcon {
	width: 50px;
	height: 50px;
}
.ForandBack {
	width: 30px;
	height: 30px;
}

input[type='range']:focus {
	outline: none;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 16px;
}
input[type='range']::-moz-range-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 16px;
	border: none;
	background: transparent;
}

.track {
	// background: lightpink;
	width: 100%;
	height: 1rem;
	position: relative;
	border-radius: 1rem;
	overflow: hidden;
}

.animate-track {
	background-color: rgb(204, 204, 204);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(50%);
	pointer-events: none;
	// border-radius: 1rem;
}

@media screen and (max-width: 768px) {
	.time-control {
		width: 90%;
	}
	.paly-control {
		width: 60%;
	}
}
